In [3]:
import pandas as pd
from pprint import pprint

In [4]:
# types of data we want to pull (by county):
# median listing price
# decrease in value pct
# increase in value pct
# median price reduction
# inventory measure
# ZHVI summary, for better clarification see : https://www.zillow.com/research/why-zillow-home-value-index-better-17742/

In [ ]:
# Dates to spread data analysis 1-2 years out on either side of:
# Obama second term: Jan-20-2013
# Trump first term: Jan-20-2017

In [17]:
county_median_listing_price_df = pd.DataFrame(pd.read_csv('https://query.data.world/s/azp4mpneglvndiwze5nagg44l43w7v'))
county_median_listing_price_df

,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
0,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,6,37,1,NaN,NaN,NaN,NaN,...,595000.0,595000.0,598000.0,599999.0,619900.0,629900.0,625000.0,629000.0,629000.0,627777.0
1,Cook,IL,Chicago,17,31,2,NaN,NaN,NaN,NaN,...,229000.0,229885.0,245000.0,257900.0,264900.0,269000.0,269998.0,269900.0,264900.0,264000.0
2,Harris,TX,Houston,48,201,3,139900.0,143900.0,145000.0,145000.0,...,260400.0,260000.0,265000.0,269900.0,274990.0,275000.0,274900.0,269900.0,269900.0,274900.0
3,Maricopa,AZ,Phoenix,4,13,4,NaN,NaN,NaN,NaN,...,285000.0,285000.0,289900.0,291990.0,297000.0,299000.0,295000.0,295000.0,292000.0,294997.0
4,San Diego,CA,San Diego,6,73,5,NaN,NaN,NaN,NaN,...,574900.0,579500.0,589000.0,595000.0,615000.0,625000.0,624900.0,625000.0,624000.0,619000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2284,Vega Baja,PR,San Juan,72,145,2264,NaN,NaN,NaN,NaN,...,104900.0,100000.0,113450.0,115950.0,130800.0,118000.0,125000.0,125000.0,118000.0,118950.0
2285,San German,PR,San German-Cabo Rojo,72,125,2264,NaN,NaN,NaN,NaN,...,148250.0,148000.0,152500.0,152500.0,157450.0,155000.0,152000.0,153250.0,153250.0,149750.0
2286,Las Piedras,PR,San Juan,72,85,2264,NaN,NaN,NaN,NaN,...,121000.0,121000.0,121000.0,127000.0,128000.0,130000.0,129950.0,130000.0,125000.0,130000.0
2287,San Lorenzo,PR,San Juan,72,129,2264,NaN,NaN,NaN,NaN,...,121000.0,118900.0,115995.0,114500.0,121000.0,112000.0,110000.0,100000.0,108500.0,108500.0
2288,Trujillo Alto,PR,San Juan,72,139,2264,NaN,NaN,NaN,NaN,...,140000.0,132500.0,133450.0,135000.0,131000.0,130500.0,118450.0,112500.0,109500.0,118300.0

In [18]:
county_decrease_value_pct_df = pd.DataFrame(pd.read_csv('https://query.data.world/s/cc43xw52k5t4hfxuptjxrfbgbhqas4'))
county_decrease_value_pct_df

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,1997-02,1997-03,1997-04,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
0,3101,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,6,37,1,48.56,46.10,42.89,...,7.15,7.82,8.26,8.34,8.41,8.59,7.84,12.22,9.50,8.68
1,139,Cook,IL,Chicago,17,31,2,39.93,39.57,39.68,...,19.51,16.66,15.74,16.65,19.97,21.19,20.84,29.58,25.53,24.65
2,2402,Maricopa,AZ,Phoenix,4,13,3,17.37,16.89,17.37,...,6.93,6.61,6.83,7.04,7.00,6.04,5.19,6.59,5.61,5.61
3,2841,San Diego,CA,San Diego,6,73,4,45.01,41.44,39.15,...,6.87,7.61,7.70,7.83,7.75,6.69,5.36,12.32,9.12,7.93
4,1286,Orange,CA,Los Angeles-Long Beach-Anaheim,6,59,5,44.01,42.33,37.41,...,7.79,7.41,8.17,11.26,11.50,10.95,10.46,17.62,12.93,10.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,474,Delta,TX,NaN,48,119,1151,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1151,539,Grant,OK,NaN,40,53,1152,NaN,NaN,NaN,...,0.08,0.08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1152,665,Ouray,CO,NaN,8,91,1153,NaN,NaN,NaN,...,27.23,27.53,26.70,27.27,30.55,30.92,31.11,27.28,25.86,26.90
1153,2497,Red Lake,MN,NaN,27,125,1154,NaN,NaN,NaN,...,0.56,0.32,0.40,0.32,0.48,0.40,0.32,5.51,98.96,99.04
1154,828,Alpine,CA,NaN,6,3,1155,NaN,NaN,NaN,...,54.86,57.85,56.42,56.29,53.81,50.80,48.66,38.79,34.56,36.13

In [19]:
county_median_price_reduction_pct_df = pd.DataFrame(pd.read_csv('https://query.data.world/s/p5e5dtddvxttor4lty5xqooerh5db2'))
county_median_price_reduction_pct_df

,RegionID,RegionName,State,SizeRank,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
0,3101,Los Angeles,CA,1,4.999838,4.706990,4.656671,5.000000,4.982689,4.952653,...,2.810811,2.992299,2.862337,2.936608,2.968206,3.150242,3.036223,2.982835,2.809760,2.777921
1,139,Cook,IL,2,4.962719,4.809619,5.000037,5.268704,5.701754,5.346535,...,3.636364,3.335557,3.076923,3.026188,2.985075,3.038259,2.958580,2.949640,3.000000,2.942908
2,1090,Harris,TX,3,4.186768,4.159292,4.166667,4.454343,4.347826,4.365079,...,2.913883,2.941176,2.932039,2.791997,2.793296,2.735562,2.746781,2.704164,2.780674,2.857633
3,2402,Maricopa,AZ,4,5.268704,5.010020,5.019942,5.491031,5.274902,5.149051,...,1.562988,1.816320,1.901334,1.923817,1.828362,1.786352,1.690238,1.612159,1.603206,1.624631
4,2841,San Diego,CA,5,4.582235,4.264392,4.291845,4.548556,4.366812,4.348204,...,2.729754,2.741544,2.942989,2.803135,2.702995,2.750427,2.480620,2.550091,2.468456,2.345160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1447,752,Towns,GA,1655,7.671958,9.618639,7.977815,9.283512,9.098420,9.648241,...,5.088701,4.429798,4.347826,3.976913,4.270343,3.344482,3.806170,3.717472,4.160879,3.676471
1448,910,Camden,NC,1660,7.215153,3.886867,4.264392,2.313625,4.778529,4.505316,...,5.197179,4.000000,5.267317,5.000000,2.550091,1.413428,2.904516,2.843319,2.657895,2.418792
1449,1454,Valley,ID,1661,9.952381,10.007148,9.099181,5.675676,5.002501,8.761905,...,3.174603,5.128863,3.709274,3.379953,2.480584,3.614893,2.674797,3.460414,3.459621,3.460208
1450,3106,Montmorency,MI,1662,11.953305,9.090150,9.204545,11.324786,10.020040,11.616162,...,4.032258,8.384458,6.231884,5.931662,5.586592,5.889282,6.791882,6.559140,4.494382,6.468639
1451,2931,Grand Isle,VT,1670,6.712075,7.233333,12.698413,10.577949,5.044828,4.184100,...,6.271534,6.562848,3.760759,4.623116,7.317073,4.559915,5.366109,2.372491,2.857959,4.040404

In [20]:
county_increase_value_pct_df = pd.DataFrame(pd.read_csv('https://query.data.world/s/3dhnjnhbuctviu7zkkznu554jneorj'))
county_increase_value_pct_df

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,1997-02,1997-03,1997-04,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
0,3101,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,6,37,1,42.56,44.42,47.14,...,88.24,87.17,86.48,86.32,86.18,85.93,87.06,81.74,85.08,86.16
1,139,Cook,IL,Chicago,17,31,2,52.46,52.45,51.81,...,72.45,76.15,77.39,76.11,71.67,70.11,70.16,61.34,65.28,66.08
2,2402,Maricopa,AZ,Phoenix,4,13,3,73.43,73.90,73.31,...,87.34,87.72,87.09,86.67,86.66,88.29,89.87,87.86,89.46,89.34
3,2841,San Diego,CA,San Diego,6,73,4,45.87,48.20,50.49,...,88.59,87.34,87.16,87.10,87.48,89.42,91.39,82.38,86.42,87.92
4,1286,Orange,CA,Los Angeles-Long Beach-Anaheim,6,59,5,46.95,48.65,53.64,...,85.95,86.73,85.28,79.65,79.15,80.25,80.80,73.10,78.89,82.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,474,Delta,TX,NaN,48,119,1151,NaN,NaN,NaN,...,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1151,539,Grant,OK,NaN,40,53,1152,NaN,NaN,NaN,...,98.69,99.92,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1152,665,Ouray,CO,NaN,8,91,1153,NaN,NaN,NaN,...,64.80,64.45,65.24,66.00,61.64,61.76,61.44,64.95,66.53,64.66
1153,2497,Red Lake,MN,NaN,27,125,1154,NaN,NaN,NaN,...,99.36,99.44,99.60,99.60,99.52,99.60,30.97,1.04,1.04,0.88
1154,828,Alpine,CA,NaN,6,3,1155,NaN,NaN,NaN,...,42.62,41.13,41.74,42.01,43.85,46.19,46.52,54.67,63.39,62.37

In [21]:
county_inventory_measure_df = pd.DataFrame(pd.read_csv('https://query.data.world/s/sewl76vcb27jicrj76qnxz5mmhtmf2'))
county_inventory_measure_df

,RegionName,RegionType,CountyName,Metro,StateFullName,DataTypeDescription,2010-01,2010-02,2010-03,2010-04,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
0,Los Angeles,County,Los Angeles,Los Angeles-Long Beach-Anaheim,California,All Homes,30098,28988,28609,28311,...,11917,10743,10727,10713,10572,10948,11568,11578,11653,11575
1,Cook,County,Cook,Chicago,Illinois,All Homes,29698,30106,32870,34568,...,17248,15410,15692,16595,16779,17514,18284,18482,19192,19704
2,Harris,County,Harris,Houston,Texas,All Homes,23947,24742,27380,28026,...,13108,12516,12800,13445,14037,14970,15812,16708,16680,14974
3,Maricopa,County,Maricopa,Phoenix,Arizona,All Homes,31302,32460,33663,34256,...,18980,18687,19625,19688,19242,18484,17336,16576,15989,16140
4,San Diego,County,San Diego,San Diego,California,All Homes,10898,10900,12234,12502,...,5468,4763,5232,5157,5021,4839,4898,5076,5217,5308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1844,Adams,County,Adams,NaN,Idaho,All Homes,36,36,36,38,...,58,52,50,49,56,67,74,76,92,88
1845,Mercer,County,Mercer,NaN,Missouri,All Homes,7,12,12,14,...,17,14,14,12,16,16,18,16,17,18
1846,Butte,County,Butte,Idaho Falls,Idaho,All Homes,18,18,23,26,...,32,32,32,31,33,36,38,36,37,33
1847,Quitman,County,Quitman,NaN,Georgia,All Homes,11,10,12,15,...,26,26,26,27,26,24,20,19,16,15
1848,San Juan,County,San Juan,NaN,Colorado,All Homes,9,9,10,13,...,46,38,36,33,36,41,43,42,42,44

In [22]:
county_inventory_measure_ssa_df = pd.DataFrame(pd.read_csv('https://query.data.world/s/7dgqivworhtluhkn264cg6pg4ildm6'))
county_inventory_measure_ssa_df

,RegionName,RegionType,CountyName,Metro,StateFullName,DataTypeDescription,2010-01,2010-02,2010-03,2010-04,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
0,Los Angeles,County,Los Angeles,Los Angeles-Long Beach-Anaheim,California,All Homes,30760,29938,29104,28639,...,12689,12455,12115,11698,11404,11292,11038,10556,10282,10201
1,Cook,County,Cook,Chicago,Illinois,All Homes,32421,32700,33421,33560,...,18803,18371,18071,17680,17142,16906,16931,16995,17355,17877
2,Harris,County,Harris,Houston,Texas,All Homes,25708,26123,27073,27333,...,14100,14031,13867,13914,14265,14607,14994,15398,15271,14668
3,Maricopa,County,Maricopa,Phoenix,Arizona,All Homes,30633,31378,32744,33629,...,18436,18433,18636,18898,18877,18511,18049,17697,17457,17273
4,San Diego,County,San Diego,San Diego,California,All Homes,11737,11968,12591,13020,...,5865,5803,5860,5819,5537,5091,4714,4514,4447,4458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1844,Adams,County,Adams,NaN,Idaho,All Homes,41,42,43,42,...,67,62,60,60,61,63,65,70,76,79
1845,Mercer,County,Mercer,NaN,Missouri,All Homes,10,12,14,16,...,18,16,15,15,16,17,16,15,15,16
1846,Butte,County,Butte,Idaho Falls,Idaho,All Homes,20,21,24,27,...,33,33,33,33,35,36,36,34,34,33
1847,Quitman,County,Quitman,NaN,Georgia,All Homes,11,11,13,14,...,25,26,26,27,26,24,21,19,17,16
1848,San Juan,County,San Juan,NaN,Colorado,All Homes,10,10,11,13,...,44,41,37,37,39,42,41,39,39,41

In [23]:
county_zhvi_summary_df = pd.DataFrame(pd.read_csv('https://query.data.world/s/iwu242mxghpdhe6uagp64bssigieeg'))
county_zhvi_summary_df

,Date,RegionID,RegionName,State,Metro,SizeRank,Zhvi,MoM,QoQ,YoY,5Year,10Year,PeakMonth,PeakQuarter,PeakZHVI,PctFallFromPeak,LastTimeAtCurrZHVI
0,2017-09-30,3101,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,0,574400,0.005250,0.015020,0.067460,0.090129,0.007301,2017-09,2017-Q3,574400,0.000000,2017-09
1,2017-09-30,139,Cook,IL,Chicago,1,215900,0.003719,0.013139,0.065121,0.056530,-0.016198,2007-03,2007-Q1,258900,-0.166087,2004-02
2,2017-09-30,2402,Maricopa,AZ,Phoenix,2,246900,0.004067,0.014797,0.063766,0.092969,-0.003184,2006-05,2006-Q2,277900,-0.111551,2005-08
3,2017-09-30,2841,San Diego,CA,San Diego,3,553900,0.004898,0.014655,0.064988,0.086995,0.011900,2017-09,2017-Q3,553900,0.000000,2017-09
4,2017-09-30,1286,Orange,CA,Los Angeles-Long Beach-Anaheim,4,691600,0.005379,0.014671,0.042665,0.079950,0.005100,2006-05,2006-Q2,708800,-0.024266,2005-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1701,2017-09-30,359,Adams,ND,NaN,1701,85500,-0.001168,-0.003497,0.013033,0.005953,NaN,2017-01,2017-Q1,86300,-0.009270,2016-11
1702,2017-09-30,305,Rich,UT,NaN,1702,491500,0.005729,0.023532,0.141961,0.031941,NaN,2017-09,2017-Q3,491500,0.000000,2017-09
1703,2017-09-30,442,Clark,KS,NaN,1703,66000,0.004566,0.012270,0.085526,0.020952,NaN,2017-09,2017-Q3,66000,0.000000,2017-09
1704,2017-09-30,2220,Comanche,KS,NaN,1704,57000,-0.001751,0.007067,0.077505,0.018531,NaN,2017-08,2017-Q3,57100,-0.001751,2017-08
1705,2017-09-30,828,Alpine,CA,NaN,1705,256900,-0.005805,-0.076895,-0.072228,0.048326,-0.052795,2006-01,2006-Q1,490900,-0.476675,NaN

In [24]:
merge_increase_decrease_value = county_decrease_value_pct_df.merge(county_increase_value_pct_df, how='outer', left_index=True, right_index=True)
merge_increase_decrease_value

,RegionID_x,RegionName_x,State_x,Metro_x,StateCodeFIPS_x,MunicipalCodeFIPS_x,SizeRank_x,1997-02_x,1997-03_x,1997-04_x,...,2016-12_y,2017-01_y,2017-02_y,2017-03_y,2017-04_y,2017-05_y,2017-06_y,2017-07_y,2017-08_y,2017-09_y
0,3101,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,6,37,1,48.56,46.10,42.89,...,88.24,87.17,86.48,86.32,86.18,85.93,87.06,81.74,85.08,86.16
1,139,Cook,IL,Chicago,17,31,2,39.93,39.57,39.68,...,72.45,76.15,77.39,76.11,71.67,70.11,70.16,61.34,65.28,66.08
2,2402,Maricopa,AZ,Phoenix,4,13,3,17.37,16.89,17.37,...,87.34,87.72,87.09,86.67,86.66,88.29,89.87,87.86,89.46,89.34
3,2841,San Diego,CA,San Diego,6,73,4,45.01,41.44,39.15,...,88.59,87.34,87.16,87.10,87.48,89.42,91.39,82.38,86.42,87.92
4,1286,Orange,CA,Los Angeles-Long Beach-Anaheim,6,59,5,44.01,42.33,37.41,...,85.95,86.73,85.28,79.65,79.15,80.25,80.80,73.10,78.89,82.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,474,Delta,TX,NaN,48,119,1151,NaN,NaN,NaN,...,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1151,539,Grant,OK,NaN,40,53,1152,NaN,NaN,NaN,...,98.69,99.92,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1152,665,Ouray,CO,NaN,8,91,1153,NaN,NaN,NaN,...,64.80,64.45,65.24,66.00,61.64,61.76,61.44,64.95,66.53,64.66
1153,2497,Red Lake,MN,NaN,27,125,1154,NaN,NaN,NaN,...,99.36,99.44,99.60,99.60,99.52,99.60,30.97,1.04,1.04,0.88
1154,828,Alpine,CA,NaN,6,3,1155,NaN,NaN,NaN,...,42.62,41.13,41.74,42.01,43.85,46.19,46.52,54.67,63.39,62.37

In [26]:
column_list = list(merge_increase_decrease_value)
column_list

['RegionID_x',
 'RegionName_x',
 'State_x',
 'Metro_x',
 'StateCodeFIPS_x',
 'MunicipalCodeFIPS_x',
 'SizeRank_x',
 '1997-02_x',
 '1997-03_x',
 '1997-04_x',
 '1997-05_x',
 '1997-06_x',
 '1997-07_x',
 '1997-08_x',
 '1997-09_x',
 '1997-10_x',
 '1997-11_x',
 '1997-12_x',
 '1998-01_x',
 '1998-02_x',
 '1998-03_x',
 '1998-04_x',
 '1998-05_x',
 '1998-06_x',
 '1998-07_x',
 '1998-08_x',
 '1998-09_x',
 '1998-10_x',
 '1998-11_x',
 '1998-12_x',
 '1999-01_x',
 '1999-02_x',
 '1999-03_x',
 '1999-04_x',
 '1999-05_x',
 '1999-06_x',
 '1999-07_x',
 '1999-08_x',
 '1999-09_x',
 '1999-10_x',
 '1999-11_x',
 '1999-12_x',
 '2000-01_x',
 '2000-02_x',
 '2000-03_x',
 '2000-04_x',
 '2000-05_x',
 '2000-06_x',
 '2000-07_x',
 '2000-08_x',
 '2000-09_x',
 '2000-10_x',
 '2000-11_x',
 '2000-12_x',
 '2001-01_x',
 '2001-02_x',
 '2001-03_x',
 '2001-04_x',
 '2001-05_x',
 '2001-06_x',
 '2001-07_x',
 '2001-08_x',
 '2001-09_x',
 '2001-10_x',
 '2001-11_x',
 '2001-12_x',
 '2002-01_x',
 '2002-02_x',
 '2002-03_x',
 '2002-04_x',
 '2002-05_x',
 '2002-06_x',
 '2002-07_x',
 '2002-08_x',
 '2002-09_x',
 '2002-10_x',
 '2002-11_x',
 '2002-12_x',
 '2003-01_x',
 '2003-02_x',
 '2003-03_x',
 '2003-04_x',
 '2003-05_x',
 '2003-06_x',
 '2003-07_x',
 '2003-08_x',
 '2003-09_x',
 '2003-10_x',
 '2003-11_x',
 '2003-12_x',
 '2004-01_x',
 '2004-02_x',
 '2004-03_x',
 '2004-04_x',
 '2004-05_x',
 '2004-06_x',
 '2004-07_x',
 '2004-08_x',
 '2004-09_x',
 '2004-10_x',
 '2004-11_x',
 '2004-12_x',
 '2005-01_x',
 '2005-02_x',
 '2005-03_x',
 '2005-04_x',
 '2005-05_x',
 '2005-06_x',
 '2005-07_x',
 '2005-08_x',
 '2005-09_x',
 '2005-10_x',
 '2005-11_x',
 '2005-12_x',
 '2006-01_x',
 '2006-02_x',
 '2006-03_x',
 '2006-04_x',
 '2006-05_x',
 '2006-06_x',
 '2006-07_x',
 '2006-08_x',
 '2006-09_x',
 '2006-10_x',
 '2006-11_x',
 '2006-12_x',
 '2007-01_x',
 '2007-02_x',
 '2007-03_x',
 '2007-04_x',
 '2007-05_x',
 '2007-06_x',
 '2007-07_x',
 '2007-08_x',
 '2007-09_x',
 '2007-10_x',
 '2007-11_x',
 '2007-12_x',
 '2008-01_x',
 '2008-02_x',
 '2008-03_x',
 '2008-04_x',
 '2008-05_x',
 '2008-06_x',
 '2008-07_x',
 '2008-08_x',
 '2008-09_x',
 '2008-10_x',
 '2008-11_x',
 '2008-12_x',
 '2009-01_x',
 '2009-02_x',
 '2009-03_x',
 '2009-04_x',
 '2009-05_x',
 '2009-06_x',
 '2009-07_x',
 '2009-08_x',
 '2009-09_x',
 '2009-10_x',
 '2009-11_x',
 '2009-12_x',
 '2010-01_x',
 '2010-02_x',
 '2010-03_x',
 '2010-04_x',
 '2010-05_x',
 '2010-06_x',
 '2010-07_x',
 '2010-08_x',
 '2010-09_x',
 '2010-10_x',
 '2010-11_x',
 '2010-12_x',
 '2011-01_x',
 '2011-02_x',
 '2011-03_x',
 '2011-04_x',
 '2011-05_x',
 '2011-06_x',
 '2011-07_x',
 '2011-08_x',
 '2011-09_x',
 '2011-10_x',
 '2011-11_x',
 '2011-12_x',
 '2012-01_x',
 '2012-02_x',
 '2012-03_x',
 '2012-04_x',
 '2012-05_x',
 '2012-06_x',
 '2012-07_x',
 '2012-08_x',
 '2012-09_x',
 '2012-10_x',
 '2012-11_x',
 '2012-12_x',
 '2013-01_x',
 '2013-02_x',
 '2013-03_x',
 '2013-04_x',
 '2013-05_x',
 '2013-06_x',
 '2013-07_x',
 '2013-08_x',
 '2013-09_x',
 '2013-10_x',
 '2013-11_x',
 '2013-12_x',
 '2014-01_x',
 '2014-02_x',
 '2014-03_x',
 '2014-04_x',
 '2014-05_x',
 '2014-06_x',
 '2014-07_x',
 '2014-08_x',
 '2014-09_x',
 '2014-10_x',
 '2014-11_x',
 '2014-12_x',
 '2015-01_x',
 '2015-02_x',
 '2015-03_x',
 '2015-04_x',
 '2015-05_x',
 '2015-06_x',
 '2015-07_x',
 '2015-08_x',
 '2015-09_x',
 '2015-10_x',
 '2015-11_x',
 '2015-12_x',
 '2016-01_x',
 '2016-02_x',
 '2016-03_x',
 '2016-04_x',
 '2016-05_x',
 '2016-06_x',
 '2016-07_x',
 '2016-08_x',
 '2016-09_x',
 '2016-10_x',
 '2016-11_x',
 '2016-12_x',
 '2017-01_x',
 '2017-02_x',
 '2017-03_x',
 '2017-04_x',
 '2017-05_x',
 '2017-06_x',
 '2017-07_x',
 '2017-08_x',
 '2017-09_x',
 'RegionID_y',
 'RegionName_y',
 'State_y',
 'Metro_y',
 'StateCodeFIPS_y',
 'MunicipalCodeFIPS_y',
 'SizeRank_y',
 '1997-02_y',
 '1997-03_y',
 '1997-04_y',
 '1997-05_y',
 '1997-06_y',
 '1997-07_y',
 '1997-08_y',
 '1997-09_y',
 '1997-10_y',
 '1997-11_y',
 '1997-12_y',
 '1998-01_y',
 '1998-02_y',
 '1998-03_y',
 '1998-04_y',
 '1998-05_y',
 '1998-06_y',
 '1998-07_y',
 '1998-08_y',
 '1998-09_y',
 '1998-10_y',
 '1998-11_y',
 '1998-12_y',
 '1999-01_y',
 '1999-02_y',
 '1999-03_y',
 '1999-04_y',
 '1999-05_y',
 '1999-06_y',
 '1999-07_y',
 '1999-08_y',
 '1999-09_y',
 '1999-10_y',
 '1999-11_y',
 '1999-12_y',
 '2000-01_y',
 '2000-02_y',
 '2000-03_y',
 '2000-04_y',
 '2000-05_y',
 '2000-06_y',
 '2000-07_y',
 '2000-08_y',
 '2000-09_y',
 '2000-10_y',
 '2000-11_y',
 '2000-12_y',
 '2001-01_y',
 '2001-02_y',
 '2001-03_y',
 '2001-04_y',
 '2001-05_y',
 '2001-06_y',
 '2001-07_y',
 '2001-08_y',
 '2001-09_y',
 '2001-10_y',
 '2001-11_y',
 '2001-12_y',
 '2002-01_y',
 '2002-02_y',
 '2002-03_y',
 '2002-04_y',
 '2002-05_y',
 '2002-06_y',
 '2002-07_y',
 '2002-08_y',
 '2002-09_y',
 '2002-10_y',
 '2002-11_y',
 '2002-12_y',
 '2003-01_y',
 '2003-02_y',
 '2003-03_y',
 '2003-04_y',
 '2003-05_y',
 '2003-06_y',
 '2003-07_y',
 '2003-08_y',
 '2003-09_y',
 '2003-10_y',
 '2003-11_y',
 '2003-12_y',
 '2004-01_y',
 '2004-02_y',
 '2004-03_y',
 '2004-04_y',
 '2004-05_y',
 '2004-06_y',
 '2004-07_y',
 '2004-08_y',
 '2004-09_y',
 '2004-10_y',
 '2004-11_y',
 '2004-12_y',
 '2005-01_y',
 '2005-02_y',
 '2005-03_y',
 '2005-04_y',
 '2005-05_y',
 '2005-06_y',
 '2005-07_y',
 '2005-08_y',
 '2005-09_y',
 '2005-10_y',
 '2005-11_y',
 '2005-12_y',
 '2006-01_y',
 '2006-02_y',
 '2006-03_y',
 '2006-04_y',
 '2006-05_y',
 '2006-06_y',
 '2006-07_y',
 '2006-08_y',
 '2006-09_y',
 '2006-10_y',
 '2006-11_y',
 '2006-12_y',
 '2007-01_y',
 '2007-02_y',
 '2007-03_y',
 '2007-04_y',
 '2007-05_y',
 '2007-06_y',
 '2007-07_y',
 '2007-08_y',
 '2007-09_y',
 '2007-10_y',
 '2007-11_y',
 '2007-12_y',
 '2008-01_y',
 '2008-02_y',
 '2008-03_y',
 '2008-04_y',
 '2008-05_y',
 '2008-06_y',
 '2008-07_y',
 '2008-08_y',
 '2008-09_y',
 '2008-10_y',
 '2008-11_y',
 '2008-12_y',
 '2009-01_y',
 '2009-02_y',
 '2009-03_y',
 '2009-04_y',
 '2009-05_y',
 '2009-06_y',
 '2009-07_y',
 '2009-08_y',
 '2009-09_y',
 '2009-10_y',
 '2009-11_y',
 '2009-12_y',
 '2010-01_y',
 '2010-02_y',
 '2010-03_y',
 '2010-04_y',
 '2010-05_y',
 '2010-06_y',
 '2010-07_y',
 '2010-08_y',
 '2010-09_y',
 '2010-10_y',
 '2010-11_y',
 '2010-12_y',
 '2011-01_y',
 '2011-02_y',
 '2011-03_y',
 '2011-04_y',
 '2011-05_y',
 '2011-06_y',
 '2011-07_y',
 '2011-08_y',
 '2011-09_y',
 '2011-10_y',
 '2011-11_y',
 '2011-12_y',
 '2012-01_y',
 '2012-02_y',
 '2012-03_y',
 '2012-04_y',
 '2012-05_y',
 '2012-06_y',
 '2012-07_y',
 '2012-08_y',
 '2012-09_y',
 '2012-10_y',
 '2012-11_y',
 '2012-12_y',
 '2013-01_y',
 '2013-02_y',
 '2013-03_y',
 '2013-04_y',
 '2013-05_y',
 '2013-06_y',
 '2013-07_y',
 '2013-08_y',
 '2013-09_y',
 '2013-10_y',
 '2013-11_y',
 '2013-12_y',
 '2014-01_y',
 '2014-02_y',
 '2014-03_y',
 '2014-04_y',
 '2014-05_y',
 '2014-06_y',
 '2014-07_y',
 '2014-08_y',
 '2014-09_y',
 '2014-10_y',
 '2014-11_y',
 '2014-12_y',
 '2015-01_y',
 '2015-02_y',
 '2015-03_y',
 '2015-04_y',
 '2015-05_y',
 '2015-06_y',
 '2015-07_y',
 '2015-08_y',
 '2015-09_y',
 '2015-10_y',
 '2015-11_y',
 '2015-12_y',
 '2016-01_y',
 '2016-02_y',
 '2016-03_y',
 '2016-04_y',
 '2016-05_y',
 '2016-06_y',
 '2016-07_y',
 '2016-08_y',
 '2016-09_y',
 '2016-10_y',
 '2016-11_y',
 '2016-12_y',
 '2017-01_y',
 '2017-02_y',
 '2017-03_y',
 '2017-04_y',
 '2017-05_y',
 '2017-06_y',
 '2017-07_y',
 '2017-08_y',
 '2017-09_y']